In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/The Worlds 100 Most Powerful Women.csv')

In [3]:
df.head()

   RANK                  NAME AGE       LOCATION           CATEGORY
0   1.0  Ursula von der Leyen  64        Belgium  Politics & Policy
1   2.0     Christine Lagarde  66        Germany  Politics & Policy
2   3.0         Kamala Harris  58  United States  Politics & Policy
3   4.0            Mary Barra  60  United States           Business
4   5.0       Abigail Johnson  60  United States              Money

In [4]:
df['CATEGORY'].value_counts()

Business                 30
Politics & Policy        22
Finance                  12
Media & Entertainment    11
Technology                6
Money                     4
Philanthropy              4
Entrepreneurs             4
Impact                    2
Lifestyle                 2
Venture Capital           2
Entertainment             1
Name: CATEGORY, dtype: int64

In [5]:
df['LOCATION'].value_counts()

United States           50
India                    6
China                    5
Germany                  4
Australia                4
United Kingdom           3
Indonesia                2
United Arab Emirates     2
Japan                    2
Nigeria                  2
Singapore                2
France                   2
Turkey                   1
Slovakia                 1
Honduras                 1
Tanzania                 1
Barbados                 1
South Korea              1
Finland                  1
Belgium                  1
Denmark                  1
Mexico                   1
Bangladesh               1
New Zealand              1
Taiwan                   1
Spain                    1
Italy                    1
Iran                     1
Name: LOCATION, dtype: int64