In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/The Worlds 100 Most Powerful Women.csv')

In [3]:
df.head()

   RANK                  NAME AGE       LOCATION           CATEGORY
0   1.0  Ursula von der Leyen  64        Belgium  Politics & Policy
1   2.0     Christine Lagarde  66        Germany  Politics & Policy
2   3.0         Kamala Harris  58  United States  Politics & Policy
3   4.0            Mary Barra  60  United States           Business
4   5.0       Abigail Johnson  60  United States              Money